doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title MatXessIDE
    link(rel="shortcut icon", href="./sql_icon.png", type="image/png") 
    link(rel="stylesheet", href="../common/general.scss")
    link(rel="stylesheet", href="../common/reset.scss")
    link(rel="stylesheet", href="./style.scss")
    script(src="../common/environment.ts", type="module")
  body 
    .flex
      .banner Mat Xess IDE
      .button-box 
        button.btn.btn-primary#btnOpenQueryFile Opens...

    .connection-form
      .button-box.flex.align-right
        button.btn.btn-secondary#btnSelectDatabase(type="button") Connect MS Access
      
      code#connectedStatus
        span.status Connected to 
        span#databaseName.databaseName

    .ide-container
      .file-tabs.flex#file-tabs
        .btn.file-tab.flex#file-tab-example(style="display:none;")
          .text Tab 1
          button.btn-exit X

      #matXessIDE 

    .execute-box
      .button-box.flex 
        button.btn.btn-primary#execQuery Execute
        button.btn.btn-primary#execQuerySelection(style="display: none;") Execute Selection

      #loading
        .loading-element

    .result-panel
      .result-tab-nodes.flex
        .btn.tab-node#tabNodeExample(style="display: none;")
      .result-tab-pages
        .tab-page#tabPageExample(style="display: none;")
          .button-box 
            button.btn.btn-success.btnExportExcel Export Excel
          .spend-time

          .sql-query
          .result-container
            table
              thead
                tr.columnNames
              tbody.tableData

    script(src="../../../node_modules/monaco-editor/min/vs/loader.js")
    script(src="./main.ts", type="module")
